In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_csv("/home/sid/Downloads/train_workshop.csv")
test=pd.read_csv("/home/sid/Downloads/test_workshop.csv")

In [3]:
data.head()

,ID,Age,Workclass,Education,Marital.Status,Occupation,Relationship,Race,Sex,Hours.Per.Week,Native.Country,Income.Group
0,1,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,2,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,3,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
3,4,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
4,5,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K

In [4]:
data.shape

(32561, 12)

In [5]:
test.shape

(16281, 11)

In [6]:
data.dtypes

ID                 int64
Age                int64
Workclass         object
Education         object
Marital.Status    object
Occupation        object
Relationship      object
Race              object
Sex               object
Hours.Per.Week     int64
Native.Country    object
Income.Group      object
dtype: object

In [7]:
categorical_variables=data.dtypes[data.dtypes=="object"].index.values

In [8]:
data[categorical_variables].apply(lambda x:len(x.unique()))

Workclass          9
Education         16
Marital.Status     7
Occupation        15
Relationship       6
Race               5
Sex                2
Native.Country    42
Income.Group       2
dtype: int64

In [9]:
data["Native.Country"].value_counts()

United-States                 29170
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
Name: Native.Country, dtype: int64

In [10]:
data.isnull().any()

ID                False
Age               False
Workclass          True
Education         False
Marital.Status    False
Occupation         True
Relationship      False
Race              False
Sex               False
Hours.Per.Week    False
Native.Country     True
Income.Group      False
dtype: bool

In [11]:
test.isnull().any()

ID                False
Age               False
Workclass          True
Education         False
Marital.Status    False
Occupation         True
Relationship      False
Race              False
Sex               False
Hours.Per.Week    False
Native.Country     True
dtype: bool

In [12]:
data["Workclass"].value_counts()

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: Workclass, dtype: int64

In [13]:
data["Marital.Status"].value_counts()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: Marital.Status, dtype: int64

In [14]:
data["Education"].value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: Education, dtype: int64

In [15]:
##  Preschool < 1st-4th < 5th-6th < 7th-8th < 9th < 10th < 11th < 12th < HS-grad < Prof-school < Assoc-acdm < Assoc-voc < Some-college < Bachelors < Masters < Doctorate

In [16]:
data["Occupation"].value_counts()

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: Occupation, dtype: int64

In [17]:
pd.crosstab(data.Occupation, data["Income.Group"]).apply(lambda x: x/x.sum(), axis=1)

/usr/local/lib/python2.7/dist-packages/pandas/core/computation/check.py:17: UserWarning: The installed version of numexpr 2.4.3 is not supported in pandas and will be not be used
The minimum supported version is 2.4.6

  ver=ver, min_ver=_MIN_NUMEXPR_VERSION), UserWarning)

Income.Group          <=50K      >50K
Occupation
Adm-clerical       0.865517  0.134483
Armed-Forces       0.888889  0.111111
Craft-repair       0.773359  0.226641
Exec-managerial    0.515986  0.484014
Farming-fishing    0.884306  0.115694
Handlers-cleaners  0.937226  0.062774
Machine-op-inspct  0.875125  0.124875
Other-service      0.958422  0.041578
Priv-house-serv    0.993289  0.006711
Prof-specialty     0.550966  0.449034
Protective-serv    0.674884  0.325116
Sales              0.730685  0.269315
Tech-support       0.695043  0.304957
Transport-moving   0.799624  0.200376

In [18]:
data["Relationship"].value_counts()

Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: Relationship, dtype: int64

In [19]:
data["Race"].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: Race, dtype: int64

In [20]:
pd.crosstab(data["Native.Country"],data["Income.Group"]).apply(lambda x: x/x.sum(), axis=1)

Income.Group                   <=50K      >50K
Native.Country
Cambodia                    0.631579  0.368421
Canada                      0.677686  0.322314
China                       0.733333  0.266667
Columbia                    0.966102  0.033898
Cuba                        0.736842  0.263158
Dominican-Republic          0.971429  0.028571
Ecuador                     0.857143  0.142857
El-Salvador                 0.915094  0.084906
England                     0.666667  0.333333
France                      0.586207  0.413793
Germany                     0.678832  0.321168
Greece                      0.724138  0.275862
Guatemala                   0.953125  0.046875
Haiti                       0.909091  0.090909
Holand-Netherlands          1.000000  0.000000
Honduras                    0.923077  0.076923
Hong                        0.700000  0.300000
Hungary                     0.769231  0.230769
India                       0.600000  0.400000
Iran                        0.581395  0.418605
Ireland                     0.791667  0.208333
Italy                       0.657534  0.342466
Jamaica                     0.876543  0.123457
Japan                       0.612903  0.387097
Laos                        0.888889  0.111111
Mexico                      0.948678  0.051322
Nicaragua                   0.941176  0.058824
Outlying-US(Guam-USVI-etc)  1.000000  0.000000
Peru                        0.935484  0.064516
Philippines                 0.691919  0.308081
Poland                      0.800000  0.200000
Portugal                    0.891892  0.108108
Puerto-Rico                 0.894737  0.105263
Scotland                    0.750000  0.250000
South                       0.800000  0.200000
Taiwan                      0.607843  0.392157
Thailand                    0.833333  0.166667
Trinadad&Tobago             0.894737  0.105263
United-States               0.754165  0.245835
Vietnam                     0.925373  0.074627
Yugoslavia                  0.625000  0.375000

In [21]:
# Combine the cateogorical variables

In [22]:
##impute missing values

In [23]:
data.isnull().sum()

ID                   0
Age                  0
Workclass         1836
Education            0
Marital.Status       0
Occupation        1843
Relationship         0
Race                 0
Sex                  0
Hours.Per.Week       0
Native.Country     583
Income.Group         0
dtype: int64

In [24]:
#Make unknown values for Oocupation to be a new category but for workclass and Native,Country use mode

In [25]:
test.isnull().sum()

ID                  0
Age                 0
Workclass         963
Education           0
Marital.Status      0
Occupation        966
Relationship        0
Race                0
Sex                 0
Hours.Per.Week      0
Native.Country    274
dtype: int64

In [26]:
data.Workclass.fillna("Private", inplace=True)
test.Workclass.fillna("Private", inplace=True)
data["Native.Country"].fillna("United-States", inplace=True)
test["Native.Country"].fillna("United-States", inplace=True)
data["Occupation"].fillna("Unknown", inplace=True)
test["Occupation"].fillna("Unknown", inplace=True)

In [27]:
itemsA=["Cambodia", "Canada","China","Cuba","England", "France","Germany","Greece","Hong","India","Iran","Italy","Japan","Philippines","Scotland","Taiwan","Yugoslavia"]
for x in itemsA:
    data.loc[data["Native.Country"]==x,'Native.Country']="CountryA"
    test.loc[data["Native.Country"]==x,'Native.Country']="CountryA"

In [28]:
itemsB=["Eucador","Hungary","Ireland","Jamaica","Laos", "Poland","Portugal","Thailand","South","Trinadad&Tobago","Puerto-Rico"]
for x in itemsB:
    data.loc[data["Native.Country"]==x,'Native.Country']="CountryB"
    test.loc[data["Native.Country"]==x,'Native.Country']="CountryB"

In [29]:
itemsC=["Columbia","Dominican-Republic","El-Salvador","Guatemala","Haiti","Holand-Netherlands","Honduras", "Mexico","Nicaragua","Outlying-US(Guam-USVI-etc)","Peru","Vietnam"]
for x in itemsC:
    data.loc[data["Native.Country"]==x,'Native.Country']="CountryC"
    test.loc[data["Native.Country"]==x,'Native.Country']="CountryC"

In [30]:
data[data["Hours.Per.Week"]<0]

Empty DataFrame
Columns: [ID, Age, Workclass, Education, Marital.Status, Occupation, Relationship, Race, Sex, Hours.Per.Week, Native.Country, Income.Group]
Index: []

In [31]:
from sklearn.tree import DecisionTreeClassifier

In [32]:
categorical_variable=data.dtypes[data.dtypes=="object"].index.values

In [33]:
from sklearn.preprocessing import LabelEncoder

In [34]:
le=LabelEncoder()

In [35]:
for var in categorical_variable:
    data[var]=le.fit_transform(data[var])

In [36]:
categorical_variables=test.dtypes[test.dtypes=="object"].index.values

In [37]:
for var in categorical_variables:
    test[var]=le.fit_transform(test[var])

In [38]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score,make_scorer

In [39]:
params=[{'max_depth':[3,4,5,6,7,8,9,10]},{'max_features':['sqrt']}]

In [40]:
dependent_variable="Income.Group"
independent_variale=[x for x in data.columns if x not in ["ID",dependent_variable]]

In [41]:
clf = GridSearchCV(DecisionTreeClassifier(),params, cv=5,
                       scoring=make_scorer(accuracy_score))

In [42]:
clf.fit(data[independent_variale], data[dependent_variable])

GridSearchCV(cv=5, error_score='raise',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid=[{'max_depth': [3, 4, 5, 6, 7, 8, 9, 10]}, {'max_features': ['sqrt']}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=make_scorer(accuracy_score), verbose=0)

In [43]:
print(clf.best_params_)

{'max_depth': 8}

In [44]:
prediction_train=clf.predict(data[independent_variale])
prediction_test=clf.predict(test[independent_variale])

In [45]:
acc_train=accuracy_score(data[dependent_variable],prediction_train)

In [46]:
print acc_train

0.8357237185590123

In [47]:
prediction_test

array([0, 0, 0, ..., 1, 0, 1])

In [48]:
prediction_train

array([0, 0, 0, ..., 0, 0, 1])

In [49]:
prediction_test=pd.DataFrame(prediction_test)

In [50]:
prediction_test[prediction_test==0]="<=50K"

In [51]:
prediction_test[prediction_test==1]=">50K"

In [52]:
prediction_test.to_csv("final_predictions.csv")

In [53]:
from xgboost import XGBClassifier

In [54]:
model=XGBClassifier()

In [55]:
model.fit(data[independent_variale], data[dependent_variable])

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [56]:
y_pred = model.predict(data[independent_variale])

/usr/local/lib/python2.7/dist-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [58]:
predictionss = [round(value) for value in y_pred]
# evaluate predictions
accurac = accuracy_score(data[dependent_variable], predictionss)
print("Accuracy: %.2f%%" % (accurac * 100.0))

Accuracy: 84.23%

In [62]:
predictions_test=clf.predict(test[independent_variale])

In [63]:
finalpredictions = [round(value) for value in predictions_test]

In [64]:
predictions_test=pd.DataFrame(predictions_test)

In [65]:
predictions_test[predictions_test==0]="<=50K"

In [66]:
predictions_test[predictions_test==1]=">50K"

In [67]:
predictions_test.to_csv("last_predictions.csv")